<div class="row g2">
  <div class="col-8">
    <div class="card p-2">
      {{item.Message}}
    </div>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" (click)="onAnswer(item)">Ответить</button>
  </div>
  <div class="col-2">
    <button class="btn btn-danger" (click)="onDelete(item)">Удалить</button>
  </div>
  <div class="row g-2 pt-2" *ngIf="isEditMessageItem">
    <div class="col-10" >
      <div class="m-2">
        <app-edit-qustion (onSaveChanges)="AddQuestion($event)" [currentItem]="currentQuestionItem"></app-edit-qustion>
      </div>
    </div>
    <div class="col-2 justify-content-center text-center">
      <button class="btn btn-primary" (click)="onBackEdit()">Назад</button>
    </div>
  </div>

</div>
