<div class="container pt-2 pb-2">
  <h1>
    Задать вопрос:
  </h1>

<h2>
  Частые вопросы:
</h2>
<div class="card mt-2">
<div class="card-header">
Какие документы нужны для обучения
</div>
<div class="card-body">
  <p>Ответ:</p>
  <span>
    ДОСААФ ОСТО Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Cum error deleniti vitae eaque eveniet dolorem necessitatibus
    tenetur voluptas delectus voluptate fuga provident quae sunt a, beatae reiciendis culpa fugit optio.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est fugiat velit porro suscipit vitae expedita
    architecto quas quia voluptatem hic harum consectetur ratione adipisci sint, a deleniti quasi eveniet reprehenderit.
  </span>
</div>
<div class="card-footer">

</div>
</div>


<h2>
  Задайте ваш вопрос
</h2>
  <form>
    <input type = "text" name = "phone" placeholder="phone"/>
    <input type = "text" name = "name" placeholder="name"/>
    <textarea placeholder="your question"></textarea>
    <button>Send</button>
  </form>
</div>
