
<app-login (onLoginSignal)="onTryLogin($event)" *ngIf="!isLogin" [isLoginError]="isLoginError"></app-login>

<div class="container pt-2" *ngIf="isLogin">
  <div class="row">
    <div class="col-12 text-end">
      <button class="btn btn-primary" (click)="logout()">Выход</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        <a routerLink="commonsettings" class="list-group-item" [routerLinkActive]="['active']">Общие настройки</a>
        <a routerLink="newseditor" class="list-group-item" [routerLinkActive]="['active']">Новости</a>
        <a routerLink="abouteditor" class="list-group-item" [routerLinkActive]="['active']">О нас</a>
        <a routerLink="priceeditor" class="list-group-item" [routerLinkActive]="['active']">Наши услуги</a>
        <a routerLink="informationeditor" class="list-group-item" [routerLinkActive]="['active']">Вопросы</a>
        <a routerLink="contacteditor" class="list-group-item" [routerLinkActive]="['active']">Контакты</a>
        <a routerLink="pddreadereditor" class="list-group-item" [routerLinkActive]="['active']">Учебник ПДД</a>
        <a routerLink="pddtesteditor" class="list-group-item" [routerLinkActive]="['active']">Тесты ПДД</a>
      </ul>
    </div>
    <div class="col-10 pb-5">
    <router-outlet></router-outlet>
    </div>
    </div>
</div>

