<div class="row">
  <div class="col-4">
    <label for="nameOrg" class="col-form-label">Наименование организации</label>
    <input class="form-control" id="nameOrg" type="text"/>
    <div class="pt-2">
      <button class="btn btn-primary">Сохранить</button>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-4">
    <label for="addressOrg" class="col-form-label">Адрес организации</label>
    <input class="form-control" id="addressOrg" type="text"/>
    <div class="pt-2">
      <button class="btn btn-primary">Сохранить</button>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-4">
    <label for="phoneOrg" class="col-form-label">Телефон организации</label>
    <input class="form-control" id="phoneOrg" type="text"/>
    <div class="pt-2">
      <button class="btn btn-primary">Сохранить</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <label for="phoneOrg" class="col-form-label">Электронная почта организации</label>
    <input class="form-control" id="phoneOrg" type="text"/>
    <div class="pt-2">
      <button class="btn btn-primary">Сохранить</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <label for="phoneOrg" class="col-form-label">Электронная почта организации</label>
    <input class="form-control" id="phoneOrg" type="text"/>
    <div class="pt-2">
      <button class="btn btn-primary">Сохранить</button>
    </div>
  </div>
</div>
