<div class="container pt-2 pb-2">
  <img src=""/>
  <H1>
    О нас
  </H1>

  <h2>
    Наши цены:
  </h2>
  <ul>
    <li>Обучение на категорию B  - 8000 сом за 2.5 месяца</li>
    <li>Обучение на категорию B, C  - 10000 сом за 2.5 месяца</li>
    <li>Переподготовка на категорию D  - 8000 сом за 1.5 месяца</li>
    <li>Переподготовка на категорию E  - 8000 сом за 1.5 месяца</li>
  </ul>

  <h2>
    Наши Лицензии:
  </h2>
  <ul>
    <li>Обучение на категорию B  - 8000 сом за 2.5 месяца</li>
    <li>Обучение на категорию B, C  - 10000 сом за 2.5 месяца</li>
    <li>Переподготовка на категорию D  - 8000 сом за 1.5 месяца</li>
    <li>Переподготовка на категорию E  - 8000 сом за 1.5 месяца</li>
  </ul>

  <h2>
    Наши Преподаватели:
  </h2>
  <ul>
    <li>Обучение на категорию B  - 8000 сом за 2.5 месяца</li>
    <li>Обучение на категорию B, C  - 10000 сом за 2.5 месяца</li>
    <li>Переподготовка на категорию D  - 8000 сом за 1.5 месяца</li>
    <li>Переподготовка на категорию E  - 8000 сом за 1.5 месяца</li>
  </ul>

  <h2>
    Наши автомобили:
  </h2>
  <ul>
    <li>Обучение на категорию B  - 8000 сом за 2.5 месяца</li>
    <li>Обучение на категорию B, C  - 10000 сом за 2.5 месяца</li>
    <li>Переподготовка на категорию D  - 8000 сом за 1.5 месяца</li>
    <li>Переподготовка на категорию E  - 8000 сом за 1.5 месяца</li>
  </ul>
</div>
