<div>
  <button class="btn btn-primary" *ngIf="isTicketTest" (click) = "backButtonClick()">Назад</button>
  <div *ngIf="!isShowResult">
    <div>
      <app-timer (expireTime)="onExpireTime()" [maxTimeMinutes]="25"></app-timer>
      <app-question [question]="currentQuestion" (answerEmitter)="onAnswer($event)"></app-question>
      <div>
        <div class="row">
          <div class="col-5">
            <button class="btn btn-primary" (click)="applyAnswer()">Ответить</button>
          </div>
          <div class="col-5">
            <button class="btn btn-warning" (click)="nextAvaliableQuestion()">Далее</button>
          </div>
        </div>
      </div>
      <div class="row pt-3">
          <div *ngFor="let questionPaginationModel of questions" [class]="questionPaginationModel.Status|questionStatusToClass" (click)="GoToQuestion(questionPaginationModel)">
            {{questionPaginationModel.OrderedNumber}}
          </div>
      </div>
  </div>
</div>
<app-test-result *ngIf="isShowResult" [questions]="questions"></app-test-result>
