  <div class="container pt-2 pb-2">
    <img src=""/>
    <H1>
      ДОСААФ АВТО Приглашает вас на курсы вождения автомобиля!
    </H1>

    <h2>
      Наши цены:
    </h2>
    <ul>
      <li>Обучение на категорию B  - 8000 сом за 2.5 месяца</li>
      <li>Обучение на категорию B, C  - 10000 сом за 2.5 месяца</li>
      <li>Переподготовка на категорию D  - 8000 сом за 1.5 месяца</li>
      <li>Переподготовка на категорию E  - 8000 сом за 1.5 месяца</li>
    </ul>
    <!-- <div class="card mt-2">
      <div class="card-header">
        <h3>
          О автошколе
        </h3>
      </div>
      <div class="card-body">
        <span>
          ДОСААФ ОСТО Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Cum error deleniti vitae eaque eveniet dolorem necessitatibus
          tenetur voluptas delectus voluptate fuga provident quae sunt a, beatae reiciendis culpa fugit optio.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est fugiat velit porro suscipit vitae expedita
          architecto quas quia voluptatem hic harum consectetur ratione adipisci sint, a deleniti quasi eveniet reprehenderit.
        </span>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-default">Подробнее...</a>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <h3>
          Новость или статья
        </h3>
      </div>
      <div class="card-body">
        <span>
          ДОСААФ ОСТО Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Cum error deleniti vitae eaque eveniet dolorem necessitatibus
          tenetur voluptas delectus voluptate fuga provident quae sunt a, beatae reiciendis culpa fugit optio.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est fugiat velit porro suscipit vitae expedita
          architecto quas quia voluptatem hic harum consectetur ratione adipisci sint, a deleniti quasi eveniet reprehenderit.
        </span>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-default">Подробнее...</a>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <h3>
          О автошколе
        </h3>
      </div>
      <div class="card-body">
        <span>
          ДОСААФ ОСТО Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Cum error deleniti vitae eaque eveniet dolorem necessitatibus
          tenetur voluptas delectus voluptate fuga provident quae sunt a, beatae reiciendis culpa fugit optio.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est fugiat velit porro suscipit vitae expedita
          architecto quas quia voluptatem hic harum consectetur ratione adipisci sint, a deleniti quasi eveniet reprehenderit.
        </span>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-default">Подробнее...</a>
      </div>
    </div>
    <div class="pagination pt-2">
      <nav aria-label="">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> -->
  </div>
