  <div class="container pt-2 pb-2">
    <img src=""/>
    <H1>
      ДОСААФ АВТО Приглашает вас на курсы вождения автомобиля!
    </H1>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="" class="d-block w-100 h-100" alt="img1">
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100 h-100" alt="img2">
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100 h-100" alt="img3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="card">
      <h5 class="card-header">Info block</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


    <div class="container">
      <div class="card">
        <h5 class="card-header">news</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


    <h2>
      Наши цены:
    </h2>
    <ul>
      <li>Обучение на категорию B  - 8000 сом за 2.5 месяца</li>
      <li>Обучение на категорию B, C  - 10000 сом за 2.5 месяца</li>
      <li>Переподготовка на категорию D  - 8000 сом за 1.5 месяца</li>
      <li>Переподготовка на категорию E  - 8000 сом за 1.5 месяца</li>
    </ul>


    <!-- <div class="card mt-2">
      <div class="card-header">
        <h3>
          О автошколе
        </h3>
      </div>
      <div class="card-body">
        <span>
          ДОСААФ ОСТО Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Cum error deleniti vitae eaque eveniet dolorem necessitatibus
          tenetur voluptas delectus voluptate fuga provident quae sunt a, beatae reiciendis culpa fugit optio.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est fugiat velit porro suscipit vitae expedita
          architecto quas quia voluptatem hic harum consectetur ratione adipisci sint, a deleniti quasi eveniet reprehenderit.
        </span>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-default">Подробнее...</a>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <h3>
          Новость или статья
        </h3>
      </div>
      <div class="card-body">
        <span>
          ДОСААФ ОСТО Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Cum error deleniti vitae eaque eveniet dolorem necessitatibus
          tenetur voluptas delectus voluptate fuga provident quae sunt a, beatae reiciendis culpa fugit optio.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est fugiat velit porro suscipit vitae expedita
          architecto quas quia voluptatem hic harum consectetur ratione adipisci sint, a deleniti quasi eveniet reprehenderit.
        </span>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-default">Подробнее...</a>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <h3>
          О автошколе
        </h3>
      </div>
      <div class="card-body">
        <span>
          ДОСААФ ОСТО Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Cum error deleniti vitae eaque eveniet dolorem necessitatibus
          tenetur voluptas delectus voluptate fuga provident quae sunt a, beatae reiciendis culpa fugit optio.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est fugiat velit porro suscipit vitae expedita
          architecto quas quia voluptatem hic harum consectetur ratione adipisci sint, a deleniti quasi eveniet reprehenderit.
        </span>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-default">Подробнее...</a>
      </div>
    </div>
    <div class="pagination pt-2">
      <nav aria-label="">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> -->
  </div>
