
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Список новостей</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Добавить новость</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active card p-2" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <table class="table">
      <tbody>
        <tr>
          <td class="align-middle">имя новостиzvzxcvzdvzsdvzxcvzxcvzxcvdfgdfgsfgsdfsdfssgsdfgsdfgsdfgsdfg</td>
          <td><button class="col p-2 btn btn-primary border">Перейти</button></td>
          <td><button class="col p-2 btn btn-primary border">Редактировать</button></td>
          <td><button class="col p-2 btn btn-primary border">Выключить</button></td>
          <td><button class="col p-2 btn btn-primary border">Удалить</button></td>
        </tr>
        <tr>
          <td class="align-middle">имя новостиzvzxcvzdvzsdvzxcvzxcvzxcvdf</td>
          <td><button class="col p-2 btn btn-primary border">Перейти</button></td>
          <td><button class="col p-2 btn btn-primary border">Редактировать</button></td>
          <td><button class="col p-2 btn btn-primary border">Выключить</button></td>
          <td><button class="col p-2 btn btn-primary border">Удалить</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade card p-2" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">add news</div>
</div>
