<div class="card p-2">
  <div class="row align-items-center">
    <div class="col d-flex justify-content-start">
      <span>Вопрос №1</span>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <div class="card">
        20-11-2021
      </div>
      <div class="d-flex flex-row">
        <button class="btn btn-primary m-2">Редактировать</button>
        <button class="btn btn-warning m-2">Выключить</button>
        <button class="btn btn-danger m-2">Удалить</button>
      </div>
    </div>
  </div>
</div>
