<div *ngIf="!editTicketState">
  <div class="card p-2 mt-1" *ngFor="let ticket of tickets">
    <div class="row">
      <div class="col-1 d-flex justify-content-start align-items-center">
        <span class="{{ticket.Status | ticketStatusToClass}}">{{ticket.Status | ticketStatusToString }}</span>
      </div>
      <div class="col d-flex justify-content-start align-items-center">
        <span>{{ticket.Label}}</span>
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        <div class="card">
          {{ticket.LastEdit | date}}
        </div>
      </div>
      <div class="col d-flex flex-row">
        <button class="btn btn-primary m-2" (click)="ChangeEditTicketState(ticket)">Редактировать</button>
        <button class="btn btn-warning m-2"(click)="changeStatus(ticket)">{{ticket.Status | ticketStatusToButtonText}}</button>
        <button class="btn btn-danger m-2" (click)="DeleteTicket(ticket)">Удалить</button>
      </div>
    </div>
  </div>
</div>

<app-addticket *ngIf="editTicketState" [ticket]="currentTicket" (onCancelButtonClick)="cancelEditTicket()" (onsaveButtonClick)="saveChangesTicket($event)"></app-addticket>
